*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.f-weight-600{
font-weight: 600;
}
.f-weight-700{
font-weight: 700;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.text-white{
  color: #FFFFFF;
}
.text-grey{
  color: #848484;
}
.text-box-grey{
  color: #6D6D6D;
}
.line-height-40{
  line-height:40px ;
}
.flex-vertical-center{
  display: flex;
  align-items: center;
}
.padding-left-20{
  padding-left: 20px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.display-none{
  display: none;
}
/* SEZIONE NAV */
.nav-col{
  background-color:#000000 ;
  width: 230px;
  height: calc(100vh - 90px);
  overflow: hidden;
}
.logo{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-col .logo img{
  width: 60%;
  margin-left: 20px;
}
.max-box-nav-1{
  overflow: hidden;
  height: calc(100% - 70px);
  min-height: 300px;
}
/* primo box nav */
.nav-col .first-box-nav img{
  width: 25px;
  margin-left:20px;
  margin-right:5px;
}
.nav-col .first-box-nav a{
  font-size: 12px;
}
.nav-col .first-box-nav .home{
  border-left: 3px solid #ADFF2F;
}
/*/ primo box nav */

/* secondo box nav */
.second-box-nav .playlist h4{
  text-transform: uppercase;
  margin-top:10px;
  font-size: 13px;
}
.second-box-nav .playlist .add-playlist{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.second-box-nav .playlist .add-playlist span{
  font-size: 14px;
}
.second-box-nav .playlist .add-playlist i{
 padding: 10px;
 font-size: 20px;
 margin-right: 10px;
 background-color: #A3A3A3;
}
/*/ secondo box nav */

/* terzo box nav */
.third-box-nav{
  height: 50%;
}
.playlist-list ul li a{
 line-height: 30px;
 font-size: 13px;
}
.playlist-list ul{
  overflow-y: auto;
  height: 60%;
}
.playlist-list{
  height: 100%;
}
/*/ terzo box nav */
/* secondo max box */
.max-box-nav-2{
  height: 70px;
}
.max-box-nav-2 .install{
  display: flex;
  align-items: center;
}
.max-box-nav-2 .profile{
  display: flex;
  align-items: center;
}
.install img{
  width: 13px;
}
.install a{
  font-size: 13px;
  margin-left: 10px;
}
.profile{
  margin-bottom: 10px;
}
.profile img{
  width: 20px;
  height: 20px;
  background-color:#808080 ;
  border-radius: 50%;
}
.profile a{
  font-size: 14px;
  margin-left: 10px;
}
.line-nav-download{
  width: 190px;
  margin: 10px 20px 10px 0px ;
  border: 1px solid #6D6D6D ;
}
/* /secondo max box */
@media (max-width:749px){
  .nav-col{
    width: 50px;
  }
  .logo, 
  .home, 
  .search,
  .library,
  .second-box-nav,
  .third-box-nav,
  .line-nav-download,
  .install,
  .profile,
  .text-box-grey,
  .install img,
  .profile span,
  .profile img{
    display: none;
  }
  .logo-xs,
  .home-xs,
  .search-xs,
  .library-xs,
  .install-xs,
  .profile-xs{
    display: block;
  }
  .logo-xs img,
  .home-xs img,
  .search-xs img,
  .library-xs img,
  .profile-xs img{
    width: 25px;
  }
  .logo-xs img,
  .home-xs img,
  .search-xs img,
  .library-xs img{
    margin-top: 15px;
  }
  .nav-col .first-box-nav img {
    margin: 15px calc(25px/2) 0px calc(25px/2);
  }
  .install-xs img{
   width: 20px;
  }
  .max-box-nav-2,
  .logo-xs img{
   padding: 0;
   margin-left: calc(25px/2);
  } 

  .profile-xs img{
    height: 25px;
    background-color:#808080 ;
    border-radius: 50%;
  }

}
/* /SEZIONE NAV */

/* SEZIONE CONTENUTI */
.contenents{
  height: calc(100vh - 90px);
  width: calc(100% - 230px);
  background-color:#141922 ;
  overflow: auto;
}
/* barra fixata */
.fix-bar{
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
  width: calc(100% - 230px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fix-bar a{
  border-radius: 30px;
  border: 1px solid #E0E0E1;
  color: #E0E0E1;
  padding: 10px 35px;
  text-transform: uppercase;
  margin-right: 25px;
}
/*/ barra fixata */
/* lista contenuti */
.list-contenents {
 margin-top:110px ;
 text-align: center;
}
.list-contenents ul{
 display: flex;
 width: 100%;
 margin: auto;
 justify-content: center;
 flex-wrap: wrap;
}
.list-contenents ul li{
 display: inline;
 margin: 0px 15px;
}
.list-contenents ul li a{
 text-transform: uppercase;
 color: #7B7D82;
}
.list-contenents ul li .green-line{
  width: 40px;
  margin: 5px auto;
  border: 1px solid #ADFF2F;
}
.green-line-none{
  display: none;
}
/* lista contenuti */
/* lista recently */
.list-recently{
  padding: 10px;
}
.list-recently h3{
  margin-left: 10px;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.list-recently ul {
  display: flex;
  flex-wrap: wrap;
}
.list-recently ul li{
  width: calc(100%/6);
  padding: 10px;
}
.list-recently ul li img{
  width: 100%;
}
.list-recently ul li h4{
  margin: 10px 0;
  font-size: 22px;
}
/* /lista recently */
/* lista creato */
.list-creato span{
  margin-left: 10px;
  line-height: 60px;
}
.list-creato h3{
  margin:0 10px;
}
/* /lista creato */
/* lista artisti */
.list-artist img{
  border-radius: 50%;
}
/* /lista artisti */
@media (min-width:970px) and (max-width:1199px){
  .list-recently ul li{
    width: calc(100%/4);
  }
  .list-recently ul li h4{
    font-size: 20px;
  }
  .fix-bar a{
    margin-right: 20px;
  }
}

@media (min-width:750px) and (max-width:969px){
  .list-contenents ul li{
    width: calc(100%/4);
    margin-bottom: 30px;
  }
  .list-recently ul li{
    width: calc(100%/2);
  }
  .fix-bar a{
    margin-right: 20px;
  }
}

@media (max-width:749px){
  .list-contenents ul li{
    width: calc(100%/5);
    margin: 0px 5px 30px 5px;
  }
  .list-contenents ul li a{
    font-size: 10px;
   }
  .list-recently ul li{
    width: calc(100%/2);
  }
  .fix-bar a{
    margin-right: 20px;
  }
  .list-recently ul li h4{
    font-size: 15px;
  }
  .list-recently ul li span{
    font-size: 10px;
  }
  .list-contenents ul li .green-line{
    width: 30px;
  }
  .fix-bar{
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    width: calc(100% - 50px);
    
  }
  .contenents{
    width: calc(100% - 50px);
  }
}
/* /SEZIONE CONTENUTI */

/* SEZIONE BARRA PLAY */
footer {
  background-color:#282828;
  height: 90px;
}

.container{
  display: flex;
  justify-content: space-between; 
}

/* SONG */
.song{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.song .img-text-song{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 10px;
}

.song img{
  width: 50px;
  height: 50px;
}
 
.song .text-song{
  display: flex;
  flex-direction: column;
}

.song span{
  font-size: 80%;
}

.song .text-song .title-art-song{
  font-size: 10px;
} 

.song .icon-song{
  width: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.song .icon-song i{
  font-size: 16px;
}
/* /SONG */
/* PLAYER */
.player{
  width: calc(100%/2);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.player .play-btn{
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
}
.fp-font-play{
 font-size:30px;
}

.fp-font-btn-play{
 font-size:15px;
}

.player .min-bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .min-bar span{
  font-size: 10px;
}

.player .min-bar .line-time{
  width: 80%;
  background-color: #5A5A5A;
  border-radius: 20px;
  height: 4px;
  margin: 0 15px;
}

.player .min-bar .line-time .time-avance{
  width: 25%;
  border: 2px solid #C1C1C1;
  border-radius: 20px;
}
/*/ PLAYER */
/* VOLUME */
.volume{
  width: 230px;
  height:90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volume .vol-line{
  width: 100px;
  background-color: #5A5A5A;
  border-radius: 20px;
  height: 4px;
}

.volume .vol-line .vol-avance{
  width: 25%;
  border: 2px solid #C1C1C1;
  border-radius: 20px;
}
/* /VOLUME */
/* MEDIAQUERY */
@media (min-width:750px) and (max-width:969px){
  .song .icon-song{
    flex-direction: column;
  }
  .song .img-text-song{
    width: 150px;
    padding-right: 15px;
    padding-left: 10px;
  }
}

@media (max-width:749px){
  .song{
    width:140px ;
  }
  .song .icon-song{
    flex-direction: column;
    padding-right: 0px;
    width: 30px;
  }
  .song .img-text-song{
    width: 100px;
    padding-right:0 ;
    padding-left: 10px;
  }
  .song .img-text-song .title-art-song{
    width: 50px;
  }
  .song img{
    width: 30px;
    height: 30px;
  }
  .player{
    width: 150px;
  }
  .player .play-btn{
    width: 150px;
  }
  .volume{
    width: 140px;
  }
  .volume .vol-line{
    width: 60px;
  }
  .volume i{
    font-size: 12px;
  }
}
/* /MEDIAQUERY */
/* /SEZIONE BARRA PLAY */