*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.f-weight-600{
font-weight: 600;
}

.f-weight-700{
font-weight: 700;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.text-white{
  color: #FFFFFF;
}
.text-grey{
  color: #848484;
}

/* SEZIONE NAV */
.nav-col{
  background-color:#000000 ;
  width: 230px;
  height: calc(100vh - 90px);
}
/* /SEZIONE NAV */

/* SEZIONE CONTENUTI */
.contenents{
  height: calc(100vh - 90px);
  width: calc(100% - 230px);
  background-color:#141922 ;
  overflow: auto;
}

.fix-bar{
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
  width: calc(100% - 230px);
}

.fake{
  margin-top: 90px;
}
/* /SEZIONE CONTENUTI */

/* SEZIONE BARRA PLAY */
footer {
  background-color:#282828;
  height: 90px;
}

.container{
  display: flex;
  justify-content: space-between; 
}

.song, .volume{
  width: 230px;
  height:90px;
}

.player{
  width: calc(100%/2);
  height: 90px;
}
/* SONG */
.song{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.song .img-text-song{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 10px;
}

.song img{
  width: 50px;
  height: 50px;
}
 
.song .text-song{
  display: flex;
  flex-direction: column;
}

.song span{
  font-size: 80%;
}

.song .text-song .title-art-song{
  font-size: 10px;
} 

.song .icon-song{
  width: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.song .icon-song i{
  font-size: 16px;
}
/* /SONG */
/* PLAYER */
.player{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.player .play-btn{
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
}
.fp-font-play{
 font-size:30px;
}

.fp-font-btn-play{
 font-size:15px;
}

.player .min-bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .min-bar span{
  font-size: 10px;
}

.player .min-bar .line-time{
  width: 90%;
  background-color: #5A5A5A;
  border-radius: 20px;
  height: 4px;
  margin: 0 15px;
}

.player .min-bar .line-time .time-avance{
  width: 25%;
  border: 2px solid #C1C1C1;
  border-radius: 20px;
}
/*/ PLAYER */
/* VOLUME */
.volume{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volume .vol-line{
  width: 100px;
  background-color: #5A5A5A;
  border-radius: 20px;
  height: 4px;
}

.volume .vol-line .vol-avance{
  width: 25%;
  border: 2px solid #C1C1C1;
  border-radius: 20px;
}
/* /VOLUME */
/* /SEZIONE BARRA PLAY */

/* MEDIAQUERY */
@media (min-width:750px) and (max-width:969px){
  .song .icon-song{
    flex-direction: column;
  }
  .song .img-text-song{
    width: 150px;
    padding-right: 15px;
    padding-left: 10px;
  }
}

@media (max-width:749px){
  .song{
    width:180px ;
  }
  .song .icon-song{
    flex-direction: column;
    padding-right: 0px;
    width: 30px;
  }
  .song .img-text-song{
    width: 120px;
    padding-right:0 ;
    padding-left: 10px;
  }
  /* .song .img-text-song .text-song {
    padding-left: 5px;
  } */
  .song img{
    width: 40px;
    height: 40px;
  }
  
}
/* /MEDIAQUERY */